/**
 * 页脚样式
 */

// .vp-footer-wrapper {
// }

.vp-footer-wrapper .vp-footer a {
  font-size: 16px;
  color: #6584ee;
}

.vp-footer-wrapper .vp-footer a:hover {
  color: #db54ea;
}

.vp-footer-wrapper .copyright {
  font-size: 16px;
  color: #db54ea;
}
