
// 给这两种导航统一编号
// 各 md 文件的导航
.vp-sidebar-group>ul.vp-sidebar-links, 
// 一个 md 文件之内的导航
ul.vp-sidebar-sub-headers   
{
  counter-reset: section;
  list-style-type: none;
  
  > li{
       &:before {
            counter-increment: section;
            content: counters(section, ".");
            padding-left: 1.75rem;
       }
 
       > .vp-sidebar-group {       
           margin-top: -2em;
           margin-left: 0.8em;  
       }

       > a {
          display: inline;
          padding-left: .5rem !important;
       }
  }
}
