/**
* 文章作者信息样式
*/
// .vp-page-title {
// }
// .vp-page-title h1 {
// }
// .vp-page-title .page-info {
// }

//作者
.page-info .page-author-info span {
  color: #c205f6;
}

//分类
// .page-info .page-category-info span {
// }

//标签
// .page-info .page-tag-info span {
// }

//日期
.page-info .page-date-info span {
  color: rgba(10, 132, 255, 0.6);
}

//字数统计
.page-info .page-word-info span {
  color: rgba(92, 10, 255, 0.96);
}

//阅读时间
.page-info .page-reading-time-info span {
  color: #199319;
}
