/*
md的此页内容目录
*/
#toc {
  color: #2c93d4;

}

#toc > .vp-toc-wrapper {
  width: 290px;
}

/*右侧目录栏背景*/
html[data-theme="dark"] #toc {
  background-color: rgba(50, 50, 50, 0.67);
}

#toc .vp-toc-wrapper::before {
  width: 1px;
  z-index: 1;
  background-color: var(--theme-color);
}