// https://theme-hope.vuejs.press/zh/config/style.html#config-scss
/*
主题色选择器
*/
$theme-colors: #2196f3,#f7af09,#df1515;
// 代码主题：https://theme-hope.vuejs.press/zh/guide/interface/code-theme.html
/*
浅色主题：one-light、material-light、coy、ghcolors
*/
$code-light-theme: one-light;
/*
深色主题：one-dark
night-owl、shades-of-purple、tomorrow、vsc-dark-plus、z-touch
 */
$code-dark-theme: vsc-dark-plus;
//$code-lang: "c" "cpp" "cs" "css" "dart" "docker" "fs" "go" "html" "java" "js" "json" "kt" "less" "makefile" "md" "php" "py" "rb" "rs" "sass" "scss" "sh" "ts" "vue" "yml";
