// https://theme-hope.vuejs.press/zh/config/style.html#palette-scss

//字体颜色
$vp-c-text: (
        light: #2c3e50,
        dark: #aaa9a9,
);
//内容背景色：main-content
$vp-c-bg: (
        light: #fff,
        dark: rgb(36, 36, 36),
);
// sidebar侧边栏
//PC端宽度
$sidebar-width: 24rem;
//手机端宽度
$sidebar-mobile-width: 82%;
// content
//主要内容的宽度
$content-width: 850px;
//首页内容的宽度
$home-page-width: 1200px;